@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #aeaffe;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

h1 {
  font-style: Georgia;
  font-weight: 600;
  font-size: 35px;
  color: #ff5555;
  text-align: center;
  padding: 16px;
}

.loginTitel {
  margin-bottom: 70px;
}

.navbar{
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 10px 0 0 0;
}

.navbar li{
  margin: 0 15px;
}

.navbar li a{
  background-color: #1c8ffa;
  border: none;
  color: white;
  padding: 5px 12px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.navbar li a:hover{
  background-color: #323232;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

form {
  border: 3px solid #f1f1f1;
  max-width: 600px;
  margin: auto;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.error{
  position: absolute;
  color: #ff5555;
  font-size: 14px;
  right: 5px;
  top: 11px;
}

button,
input[type='submit'] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.form-group{ 
  margin: 5px 0 0;
  position: relative;
}

#title{
  margin-bottom: 20px;
}

textarea{
  height: 35vh;
  resize: none;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #04AA6D;
}


.container {
  padding: 20px 25px;
}

.containerx {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.form-controls{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.form-controls input{
  width: 48%;
  background-color: #04AA6D;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 10px 16px;
  margin: 18px 0 8px;
  border: none;
  cursor: pointer;
}

.form-controls input:hover{ background-color: #323232; }

.chatbox{
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 40%;
  margin: auto;
}

.users-list{
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.user{
  width: 90%;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
  background-color: #cccccc;
  border-radius: 5px;
}

.all-users{
  width: 40%;
  margin-top: 20px;
  border-radius: 8px;
}

.chat {
  margin: 10px 20px;
  display: flex;
  position: relative;
}

.time{
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 12px;
  color: #777;
}

.name {
  color: #ff5555;
  margin-right: 5px;
}

.msg-input {
  margin: auto;
  border: none;
  width: 40%;
}

.msg-input input[type='submit'] {
  width: auto;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  